<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sjt.crm.mapper.OvertimeMapper" >
  <resultMap id="BaseResultMap" type="com.sjt.crm.model.po.Overtime" >
    <id column="overtime_id" property="overtimeId" jdbcType="VARCHAR" />
    <result column="business_id" property="businessId" jdbcType="VARCHAR" />
    <result column="stage" property="stage" jdbcType="CHAR" />
    <result column="stage_name" property="stageName" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="time" property="time" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    overtime_id, business_id, stage, stage_name, status, time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_overtime
    where overtime_id = #{overtimeId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_overtime
    where overtime_id = #{overtimeId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sjt.crm.model.po.Overtime" >
    insert into t_overtime (overtime_id, business_id, stage, 
      stage_name, status, time
      )
    values (#{overtimeId,jdbcType=VARCHAR}, #{businessId,jdbcType=VARCHAR}, #{stage,jdbcType=CHAR}, 
      #{stageName,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, #{time,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sjt.crm.model.po.Overtime" >
    insert into t_overtime
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="overtimeId != null" >
        overtime_id,
      </if>
      <if test="businessId != null" >
        business_id,
      </if>
      <if test="stage != null" >
        stage,
      </if>
      <if test="stageName != null" >
        stage_name,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="time != null" >
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="overtimeId != null" >
        #{overtimeId,jdbcType=VARCHAR},
      </if>
      <if test="businessId != null" >
        #{businessId,jdbcType=VARCHAR},
      </if>
      <if test="stage != null" >
        #{stage,jdbcType=CHAR},
      </if>
      <if test="stageName != null" >
        #{stageName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sjt.crm.model.po.Overtime" >
    update t_overtime
    <set >
      <if test="businessId != null" >
        business_id = #{businessId,jdbcType=VARCHAR},
      </if>
      <if test="stage != null" >
        stage = #{stage,jdbcType=CHAR},
      </if>
      <if test="stageName != null" >
        stage_name = #{stageName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=INTEGER},
      </if>
    </set>
    where overtime_id = #{overtimeId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sjt.crm.model.po.Overtime" >
    update t_overtime
    set business_id = #{businessId,jdbcType=VARCHAR},
      stage = #{stage,jdbcType=CHAR},
      stage_name = #{stageName,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      time = #{time,jdbcType=INTEGER}
    where overtime_id = #{overtimeId,jdbcType=VARCHAR}
  </update>
</mapper>